body
{
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}

#leftSide, #rightSide
{
	display:inline-block;
	float:left;
}

#leftSide
{
	width: 80%;
}

#rightSide
{
	width: 20%;
}


#gameScreen
{
	border: 3px;
	border-style: ridge;
	border-color: #A9A9A9;
}