html { 
	background-color: black;
	background:  url("../video/background.gif") no-repeat center center fixed;
	background-size: cover;
}

header {
	color: white;
	height: 50px;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#main-logo
{
	 height: 60px;
	 width: 365px;
}

@font-face {
	font-family: 'digital-7';
	src: url('../fonts/digital-7.ttf');
}

.customFont {
	font-family: 'digital-7';
	color: red;
}

body {
	font-family: Impact, Charcoal, sans-serif;
	overflow-y: scroll;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

h1 {
	color: white;
	font-size: 3em;
	text-align: center;
}

h2 {
	color: white;
	font-size: 1.7em;
	text-align: center;
}

/*#left-side {
	float: left;
	width: 20%;
}

#right-side {
	float: right;
	width: 20%;
} */

.controls-div{ 
	float: left;
}

.game {
	width: 500px;
	height: 500px;
	padding-top: 20px;
    margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	text-align: center;
	display: block;
	float: center;
}

#gameScreen {
	border: 3px;
	border-style: ridge;
	border-color: #A9A9A9;
	height: 450px;
	width: 450px;
}

.map-class {
	float: right;
}

.map-class, .controls-div {
	width: 300px;
	height: 550px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: -5px;
	/*margin-right: auto;
	margin-left: auto;
	float: center;
	display: block;*/
}

.map-class, .controls-div, .game {
	background-color: rgba(0, 0, 0, 0.45);
	color: white;
	border-radius: 30px;
}

/*For testing purposes: to see dimensions of divs*/
.map-class, .controls-div, .game, .dev-options-div {
	background-color: rgba(0, 0, 0, 0.45);
	/*background-color: purple;*/
}
 
.map-class {
    width: 400px;
}

.dev-options-div {
	color: white;
	height: 140px;
	width: auto;
	padding: 10px;
	margin: 20px;
	/*margin-top: 130px;*/
	border-radius: 30px;
}

#controls-banner {
	height: 40px;
	width: 220px;
	margin-left: auto;
	margin-right: auto;
	float: center;
}

#dev-options-banner {
	height: 75px;
	width: 275px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	text-align: center;
}

#dev-header {
	height: 100%;
	width: 280px;
	clear: left;
	float: left;
	top: 50%;
	bottom: 50%;
}

#dev-menu-button {
	color: white;
	text-align: center;
	display: block;
	margin-left: 60px;
}

#user-controls{
	/*background-color: green;*/
	font-family: arial;
	/*display: inline-block;*/
	display: none;
	width: 500px;
	height: 100%;
    padding-left: 50px;
}

input[type=text] {
	width: 200px;
}

#location {
	background-color: transparent;
	border-color: transparent;
	margin-left: 55px;
	font-family: 'digital-7';
	font-size: 35px;
	color: rgb(255, 0, 0);
}

#energy {
	background-color: transparent;
	border-color: transparent;
	margin-left: 45px;
	font-family: 'digital-7';
	font-size: 35px;
	color: rgb(0, 255, 0);
}

#supplies {
	background-color: transparent;
	border-color: transparent;
	margin-left: 45px;
	font-family: 'digital-7';
	font-size: 35px;
	color: rgb(0, 128, 255);
}

#currency {
	background-color: transparent;
	border-color: transparent;
	margin-left: 45px;
	font-family: 'digital-7';
	font-size: 35px;
	color: yellow;
}

#dev-modes{
	/*background-color: blue;*/
	width: 325px;
	height: 100%;
	padding: 10px;
	margin-left: 10px;
	/*display: block;*/
	display: none;
	float: right;
}

.scan {
	color: transparent;
	font-size: 12px;
	text-align: center;
	display: inline-block;
	width: 125px;
	height: 125px;
	padding: 6px;
}

#map {
	margin-top: 20px;
	height: 290px;
	width: 200px;
	background-color: rgba(255, 165, 0, 0.3);
}

#celestial-map-banner {
	height: 45px;
    width: 250px;
    display: block;
    margin-left: 30px;
}

#mapicon{
	background: url("../img/map.png") no-repeat 0px 0px;
	position: relative;
	display: inline-block;
	border: 0;
	width: 100px;
	height: 100px;
	background-size: 100px 100px;
	color: transparent;
	font-size: 12px;
	text-align: center;
	padding: 6px;
}

.dev-options-button-text {
	color: white;
	font-size: 20px;
}

/*#smallscreenOnly {
    display: none;
}*/

.controls-button {
	color: transparent;
	font-size: 12px;
	text-align: center;
	display: inline-block;
	width: 55px;
	height: 55px;
	padding: 6px;
}

.ctrls:hover {
  	color: white;
  	text-indent: -9999px; /*hacky way to make text disappear on hover without delving into javascript*/
}

#controls-up {
	background: url("../img/up_button.png") no-repeat center;
	background-size: 50px 50px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
}

#controls-down {
	background: url("../img/down_button.png") no-repeat center;
	background-size: 50px 50px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	/*padding-left: 100px;*/
}

#controls-left {
	background: url("../img/left_button.png") no-repeat center;
	background-size: 50px 50px;
	width: 50px;
	display: inline-block;
	margin-left: 60px;
	/*padding-bottom: 5px;*/
}

#controls-right {
	background: url("../img/right_button.png") no-repeat right;
	background-size: 50px 50px;
	width: 50px;
	display: block;
	margin-right: 63px;
	float: right;
	/*padding-bottom: 6px;*/
}

#move-options {
	background: black;
	color: white;
	width: 150px;
	margin-left: 64px;
	float: center;
}

select {
	color: white;
	background: rgb(0,0,255);
	font-family: Impact, Charcoal, sans-serif;
	width: 50px;
	text-align: center;
	appearance: none;
	-moz-appearance: none;
	border: none;
	border-radius: 10px;
}



form input[type=button] {
	background: url("../img/move_button.png") no-repeat center center;
	background-size: 50px 50px;
	width: 75px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	color: transparent;
}

/*#controls-move {
	background: url("../img/move_button.png") no-repeat center;
	background-size: 50px 50px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
}*/

#controls-GS {
	background: url("../img/genesis_saber_button.png") no-repeat center;
	background-size: 55px 55px;
	width: 55px;
	display: inline-block;
	margin-left: 32px;
	/*padding-bottom: 5px;*/
}

#controls-OTB {
	background: url("../img/overload_thunder_beam_button1.png") no-repeat center;
	background-size: 55px 55px;
	width: 55px;
	display: inline-block;
	margin-left: 30px;
	/*margin-right: auto;*/
}

#controls-FD {
	background: url("../img/fuga_daemonum_button.png") no-repeat right;
	background-size: 55px 55px;
	width: 55px;
	display: inline-block;
	margin-left: 25px;
}

#controls-scan {
	background: url("../img/scan.gif") no-repeat center;
	background-size: 100px 100px;
	width: 100px;
	/*display: inline-block;
	margin-top: 10px;*/
	margin-left: auto;
	margin-right: auto;
}

#save {
	background: url("../img/save.gif") no-repeat center;
	background-size: 50px 50px;
	border-color: transparent;
	width: 50px;
	/*display: inline-block;
	margin-top: 10px;*/
	margin-left: auto;
	margin-right: auto;
}



.save {
	color: transparent;
	font-size: 12px;
	text-align: center;
	display: inline-block;
	width: 50px;
	height: 50px;
	padding: 6px;
}

/*
#save {
	width: 150px;
	margin-left: 128px;
	margin-right: auto;
}
*/

button {
	background-color: transparent;
	border: none;
	display: none;
	height: 50px;
	width: 100px;
	padding: 0;
	margin: 0;
	vertical-align: top;
	width: 104px;
}

button span {
	display: none;
}

#center, .center {
	margin-left: auto;
	margin-right: auto;
}

.time {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: red;
	padding-top: 12px;
	padding-bottom: 1px;
}

#map-container-div
{
	height: 300;
	width: 300;
	background-color: #222222;
	float: left;
	overflow-y: auto;
	padding: 10px;
	text-align:center;
	font-family: "Lucida Console";
}

.mapItems
{
	padding: 0px;
	margin: 0px;
}


