/*menu.css*/

/*MENU BUTTONS*/
#addItem
{
	background-color: red;
	position: absolute;
	height: 100px;
	width: 100px;
	left: 400px;
	top: 130px;
}

.addButtons
{
	background-color: red;
	margin: 0px;
	height: 60px;
	width: 150px;
}

.addButtons:hover
{
	background-color: pink;
}

.menu_bkgd
{
	position: absolute;
	width: 460;
	height: 460;
}

.menu_main_options
{
	position: absolute;
	height: 80;
}

.coordCaption
{
	color: white;
}

#addItemNameTag
{
	color: white;
}

#returnToMainMenuText
{
	color: white;
}

.CBoxCaptions
{
	color: white;
}

.button-alt
{
	background-color: yellow;
	margin: 0px;
	height: 30px;
	width: 100px;
}

.button-alt:hover
{
	background-color: orange;
}