/*menu.css*/

/*MENU BUTTONS*/
#addItem
{
	background-color: red;
	position: absolute;
	height: 100px;
	width: 100px;
	left: 400px;
	top: 180px;
}

.addButtons
{
	background-color: red;
	margin: 0px;
	height: 60px;
	width: 150px;
}

.addButtons:hover
{
	background-color: pink;
}