html { 
	/*background:  url("../video/background.gif") no-repeat center center fixed;*/
	/*Disabled background gif just for testing, to improve framerate*/
	background-color: black;
	background-size: cover;
}

#widescreen-header {
	color: white;
	height: 0px;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}

#smallscreen-header {
	color: white;
	height: 70px;
	width: 420px;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	float: left;
	padding: 0px;
}


body {
	font-family: Impact, Charcoal, sans-serif;
	overflow-y: scroll;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

h1 {
	color: white;
	font-size: 3em;
	text-align: center;
}

h2 {
	color: white;
	font-size: 1.7em;
}

.controls-div {
	background-color: rgba(0, 0, 0, 0.45);
	color: white;
	width: 150px;
	height: 655px;
	padding: 10px;
	margin: 10px 10px 10px 10px;
	border-radius: 10px;
	float: left;
}

.game {
	height: 655px;
	width: 700px;
	padding: 0px;
	margin: 0px 10px 10px auto;
	border-radius: 10px;
    text-align: center;
    float: left;
}

.right-side {
	background-color: rgba(0, 0, 0, 0.45);
	color: white;
	width: 400px;
	height: 225px;
	padding: 2px;
    float: left;
}

.dev-options-button-text
{
	font-size: 12px;
}

#dev-buttons
{
	width: 100px;
	float: left;
}

/*For testing purposes: to see dimensions of divs*/
/*.dev-options, .controls, .game {
	background-color: purple;
}*/

#widescreenOnly {
    display: none;
}

#controls-up {
	background: url("../img/up_button.png") no-repeat center;
	background-size: 50px 50px;
	padding-left: 50px;
}

#controls-down {
	background: url("../img/down_button.png") no-repeat center;
	background-size: 50px 50px;
	padding-left: 50px;
	padding-bottom: 30px;
}

#controls-left {
	background: url("../img/left_button.png") no-repeat center;
	background-size: 50px 50px;
	display: inline-block;
	padding-left: 5px;
	padding-bottom: 6px;
}

#controls-right {
	background: url("../img/right_button.png") no-repeat right;
	background-size: 50px 50px;
	display: inline-block;
	padding-left: 47px;
	padding-bottom: 6px;
}

#controls-move {
	background: url("../img/move_button.png") no-repeat center;
	background-size: 50px 50px;
	margin-top: 10px;
	padding-left: 50px;
}

#controls-scan {
	background: url("../img/scan.gif") no-repeat right;
	display: inline-block;
	margin-top: 10px;
	padding-left: 37px;
}

.controls-button {
	color: transparent;
	font-size: 12px;
	text-align: center;
	display: inline-block;
	width: 45px;
	height: 45px;
	padding: 6px;
}

#main-logo
{
	 height: 70px;
	 width: 420px;
}

#controls-banner
{
	height: 27px;
	width: 160px;
}

#dev-options-banner-container
{
	height: 100px;
	width: 300px;
	float: left;
	padding-top: 15px;
	padding-bottom: 0px;
}
#dev-options-banner
{
	vertical-align: center;
	float: left;
	height: 76px;
	width: 280px;
}

#celestial-map-banner
{
	height: 1px;
	width: 1px;
}


.scan {
	color: transparent;
	font-size: 12px;
	text-align: center;
	display: inline-block;
	width: 150px;
	height: 150px;
	padding: 6px;
}

.ctrls:hover {
  	color: white;
  	text-indent: -9999px; /*hacky way to make text disappear on hover without delving into javascript*/
}

#gameScreen {
	border: 3px;
	border-style: ridge;
	border-color: #A9A9A9;
}

#mapicon{
  	background: url("../img/map.png") no-repeat 0px 0px;
	position: relative;
  	display: inline-block;
  	border: 0;
  	width: 100px;
  	height: 100px;
  	background-size: 100px 100px;
}

#center, .center {
	margin-left: auto;
	margin-right: auto;
}

#map
{
	/*background-color: orange;*/
	height: 426px;
	width: 426px;
}



button {
	background-color: transparent;
	border: none;
	display: none;
	height: 50px;
	padding: 0;
	margin: 0;
	vertical-align: top;
	width: 104px;
}

button span {
	display: none;
}

